<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Group">
	<insert id="insert" parameterType="groupdto">
		insert into `group`(groupaddr, groupname, groupcategory, groupmaster, groupcontents)
		values(#{groupaddr},#{groupname},#{groupcategory},#{groupmaster},#{groupcontents})
	</insert>
	<select id="findGroupByNum" parameterType="long" resultType="groupdto">
		select * from `group` where groupnum = #{groupnum}
	</select>
	<select id="getUserCntInGroup" parameterType="long" resultType="long">
		select count(userid) from `group_user` where groupnum=#{groupnum}
	</select>
</mapper>








